<%= render Boxes::ModalComponent.new(title: "Promote #{member_full_name}?") do |component| %>
  <% component.with(:trigger) do %>
    <%= trigger %>
  <% end %>
  <% component.with(:body) do %>
    <p class="mb-0">
      Are you sure you want to <span class="h5">promote <%= member_full_name %> to owner</span>?
      Owner’s can manage everything inside the project, including
      but not limited to billings, subscriptions, etc. <%= link_to "Learn more", "#" %>.
    </p>
  <% end %>
  <% component.with(:footer) do %>
    <button class="btn btn-primary btn-block">Promote <%= member_full_name %> to owner</button>
  <% end %>
<% end %>