<%= render Boxes::ModalComponent.new(title: "Remove #{member_full_name}?") do |component| %>
  <% component.with(:trigger) do %>
    <%= trigger %>
  <% end %>
  <% component.with(:body) do %>
    <p class="mb-0">
      Are you sure you want to <span class="h5">remove <%= member_full_name %> from the project team</span>?
      Once removed, <%= member_full_name %> will no longer have access to the <%= project_name %> project.
    </p>
  <% end %>
  <% component.with(:footer) do %>
    <%= form_with url: app_project_membership_path(member), method: :delete do |form| %>
      <%= form.submit "Remove #{member_full_name} from team", class: "user-remove-btn btn btn-danger btn-block" %>
    <% end %>
  <% end %>
<% end %>