<div class="d-flex col-12 col-md-9">
  <div class="mr-3 d-none d-md-block">
    <%= render Users::AvatarComponent.new(size: "lg") %>
  </div>
  <div class="Box width-full p-2">
    <%= form.text_field :title, class: "form-control input-block input-contrast", placeholder: "Eg: v1.0.0", aria: { label: "Edit post title" }, autocomplete: "off" %>
    <div data-controller="nested-form">
      <template data-nested-form-target="template">
        <%= form.fields_for :sections, Section.new, child_index: "NEW_RECORD" do |section| %>
          <%= render "section_field", form: section %>
        <% end %>
      </template>
      <%= form.fields_for :sections do |section| %>
        <%= render "section_field", form: section %>
      <% end %>
      <div data-nested-form-target="insertAbove" class="d-flex flex-items-center flex-justify-between pt-2">
        <a href="#" class="f6 text-gray d-none d-md-block">
          <%= octicon "markdown" %>
          Styling with Markdown is supported
        </a>
        <div class="d-flex flex-items-center">
          <button type="button" data-action="click->nested-form#addField" class="btn mr-2">
            Add section
          </button>
          <button class="btn btn-primary d-none d-md-block">
            Save draft
          </button>
        </div>
      </div>
    </div>
  </div>
</div>