<markdown-toolbar data-controller="toggle" data-toggle-attribute-value="hidden" for="post-textarea" class="ml-n2 ml-lg-0 d-flex flex-items-center flex-justify-between flex-wrap">
  <div class="d-sm-none mr-3">
    <button data-action="click->toggle#toggle" data-md-button type="button" class="btn-octicon">
      <%= octicon "typography" %>
      <span class="dropdown-caret"></span>
    </button>
  </div>
  <div class="d-flex flex-items-center">
    <div class="d-none d-sm-flex flex-items-center mr-3">
      <md-header class="btn-octicon markdown-btn"><%= octicon "heading" %></md-header>
      <md-bold class="btn-octicon markdown-btn"><%= octicon "bold" %></md-bold>
      <md-italic class="btn-octicon markdown-btn"><%= octicon "italic" %></md-italic>
    </div>
    <div class="d-flex flex-items-center mr-3">
      <md-quote class="btn-octicon markdown-btn"><%= octicon "quote" %></md-quote>
      <md-code class="btn-octicon markdown-btn"><%= octicon "code" %></md-code>
      <md-link class="btn-octicon markdown-btn"><%= octicon "link" %></md-link>
      <md-image class="btn-octicon markdown-btn"><%= octicon "image" %></md-image>
    </div>
    <div class="d-none d-sm-flex flex-items-center mr-3">
      <md-unordered-list class="btn-octicon markdown-btn"><%= octicon "list-unordered" %></md-unordered-list>
      <md-ordered-list class="btn-octicon markdown-btn"><%= octicon "list-ordered" %></md-ordered-list>
      <md-task-list class="btn-octicon markdown-btn"><%= octicon "tasklist" %></md-task-list>
    </div>
    <div class="d-flex flex-items-center">
      <%= render Dropdowns::DetailsComponent.new(title: "Apply labels to this post") do |component| %>
        <% component.with(:trigger) do %>
          <div data-md-button class="btn-octicon d-flex flex-items-center">
            <%= octicon "tag" %>
            <span class="dropdown-caret ml-1"></span>
          </div>
        <% end %>
        <% component.with(:body) do %>
          <div class="SelectMenu-filter">
            <input class="SelectMenu-input form-control" type="text" placeholder="Find or create label..." aria-label="Find or create label" />
          </div>
          <div class="SelectMenu-list">
            <button class="SelectMenu-item" role="menuitemcheckbox" aria-checked="true">
              <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
              <div class="p-1 bg-blue circle mr-2"></div>
              Improvement
            </button>
            <button class="SelectMenu-item" role="menuitemcheckbox">
              <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
              <div class="p-1 bg-green circle mr-2"></div>
              Feature
            </button>
            <button class="SelectMenu-item" role="menuitemcheckbox">
              <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
              <div class="p-1 bg-yellow circle mr-2"></div>
              Warning
            </button>
          </div>
        <% end %>
      <% end %>
      <button type="button" data-md-button class="btn-octicon btn-octicon-danger">
        <%= octicon "trashcan" %>
      </button>
    </div>
  </div>
  <div data-toggle-target="content" class="d-flex d-sm-none width-full flex-items-center mr-3 mt-2" hidden>
    <div class="d-flex flex-items-center">
      <md-header class="btn-octicon markdown-btn"><%= octicon "heading" %></md-header>
      <md-bold class="btn-octicon markdown-btn"><%= octicon "bold" %></md-bold>
      <md-italic class="btn-octicon markdown-btn"><%= octicon "italic" %></md-italic>
    </div>
    <div class="d-flex flex-items-center">
      <md-unordered-list class="btn-octicon markdown-btn"><%= octicon "list-unordered" %></md-unordered-list>
      <md-ordered-list class="btn-octicon markdown-btn"><%= octicon "list-ordered" %></md-ordered-list>
      <md-task-list class="btn-octicon markdown-btn"><%= octicon "tasklist" %></md-task-list>
    </div>
  </div>
</markdown-toolbar>