<section>
  <%= render Dropdowns::DetailsComponent.new(title: "Assign authors to this post") do |component| %>
    <% component.with(:trigger) do %>
      <summary aria-haspopup="true" class="d-flex post-sidebar-toggler flex-items-center flex-justify-between mb-2">
        <h6 class="post-sidebar-heading">Authors</h6>
        <div><%= octicon "gear", class: "post-sidebar-icon" %></div>
      </summary>
    <% end %>
    <% component.with(:body) do %>
      <div class="SelectMenu-filter">
        <input class="SelectMenu-input form-control" type="text" placeholder="Find authors..." aria-label="Find authors" />
      </div>
      <div class="SelectMenu-list">
        <button type="button" class="SelectMenu-item" role="menuitemcheckbox" aria-checked="true">
          <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
          <%= render Users::AvatarComponent.new(size: "xs") %>
          <span class="ml-2">John Doe</span>
        </button>
        <button type="button" class="SelectMenu-item" role="menuitemcheckbox">
          <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
          <%= render Users::AvatarComponent.new(size: "xs") %>
          <span class="ml-2">Smith Muller</span>
        </button>
        <button type="button" class="SelectMenu-item" role="menuitemcheckbox">
          <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
          <%= render Users::AvatarComponent.new(size: "xs") %>
          <span class="ml-2">Thomas Ballack</span>
        </button>
      </div>
    <% end %>
  <% end %>
  <div>
    <div class="d-flex flex-items-center mb-2">
      <%= render Users::AvatarComponent.new(size: "xs") %>
      <h5 class="ml-2">Abeid Ahmed</h5>
    </div>
    <div class="d-flex flex-items-center">
      <%= render Users::AvatarComponent.new(size: "xs") %>
      <h5 class="ml-2">Abeid Ahmed</h5>
    </div>
  </div>
</section>