<div data-new-record="<%= form.object.new_record? %>" class="nested-field">
  <div data-controller="checker-fetch" data-checker-fetch-url-value="<%= app_project_section_labels_path(project) %>" class="d-lg-flex flex-items-center flex-justify-between bg-gray ml-n2 mr-n2 p-2 mt-2">
    <div data-checker-fetch-target="publishElement"></div>
    <div class="mt-2 mt-lg-0">
      <%= render Posts::MarkdownToolbarComponent.new(form: form, labels: labels) %>
    </div>
  </div>
  <%= form.text_area :body,
    class: "mt-2 form-control input-block input-contrast",
    style: "resize: vertical; min-height: 200px",
    placeholder: "Start typing here...",
    aria: { label: "Edit or add post sections" },
    spellcheck: false
  %>
  <%= form.hidden_field :_destroy %>
</div>