<%= render "page_head", post: @post %>
<section data-controller="post--draft-status" class="container-xl px-3 px-sm-4 px-lg-5 mt-5">
  <%= form_with model: [:app, @post], class: "d-md-flex gutter-condensed gutter-lg" do |form| %>
    <div class="d-flex col-12 col-md-9">
      <div class="mr-3 d-none d-md-block">
        <%= render Users::AvatarComponent.new(size: "lg") %>
      </div>
      <div class="Box width-full p-2">
        <%= form.text_field :title, class: "form-control input-block input-contrast", placeholder: "Eg: v1.0.0", aria: { label: "Edit post title" }, autocomplete: "off" %>
        <div data-controller="nested-form">
          <template data-nested-form-target="template">
            <%= form.fields_for :sections, Section.new, child_index: "NEW_RECORD" do |section| %>
              <%= render "section_field", form: section, labels: @labels, project: @project %>
            <% end %>
          </template>
          <%= form.fields_for :sections do |section| %>
            <%= render "section_field", form: section, labels: @labels, project: @project %>
          <% end %>
          <div data-nested-form-target="insertAbove" class="d-flex flex-items-center flex-justify-between pt-2">
            <a href="#" class="f6 text-gray d-none d-md-block">
              <%= octicon "markdown" %>
              Styling with Markdown is supported
            </a>
            <div class="d-flex flex-items-center">
              <button type="button" data-action="click->nested-form#addField" class="btn mr-2">
                Add section
              </button>
              <button data-post--draft-status-target="publishBtn" class="btn btn-primary d-none d-md-block">
                Save draft
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <aside class="col-12 col-md-3 mt-4 mt-md-0">
      <%= render "author_list" %>
      <hr>
      <section>
        <div class="mb-2">
          <h6 class="text-gray">Settings</h6>
        </div>
        <div class="form-checkbox my-0">
          <label>
            <%= form.check_box :draft, checked: !@post.published_at?, data: { action: "post--draft-status#updateStatus", post__draft_status_target: "checkbox" } %>
            Save as draft
          </label>
        </div>
      </section>
      <section data-post--draft-status-target="dateTime">
        <hr>
        <div class="mb-2">
          <h6 class="text-gray">Publish on</h6>
        </div>
        <div class="subnav-search ml-0">
          <%= form.datetime_field :published_at, class: "form-control subnav-search-input width-full" %>
          <%= octicon "clock", class: "subnav-search-icon", style: "top: 8px" %>
          <p class="note">
            <a href="#">Learn more</a> about time formats.
          </p>
        </div>
      </section>
    </aside>
    <div class="mt-4 px-2 d-md-none">
      <button data-post--draft-status-target="publishBtn" class="btn btn-primary btn-block">Save draft</button>
    </div>
  <% end %>
</section>