<nav class="menu border-0">
  <a href="#" class="menu-item border-0" aria-current="page">
    <%= octicon "gear" %>
    General
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "milestone" %>
    Public feed
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "people" %>
    Team members
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "tag" %>
    Labels
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "cpu" %>
    Widget
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "history" %>
    Subscription
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "credit-card" %>
    Billings
  </a>
</nav>