<nav class="menu border-0">
  <%= link_to app_root_path, class: "menu-item border-0", aria: { current: "page" } do %>
    <%= octicon "gear" %>
    General
  <% end %>
  <%= link_to edit_app_public_feeds_path, class: "menu-item border-0" do %>
    <%= octicon "milestone" %>
    Public feed
  <% end %>
  <a href="#" class="menu-item border-0">
    <%= octicon "people" %>
    Team members
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "tag" %>
    Labels
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "cpu" %>
    Widget
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "history" %>
    Subscription
  </a>
  <a href="#" class="menu-item border-0">
    <%= octicon "credit-card" %>
    Billings
  </a>
</nav>