<header data-controller="toggle" data-toggle-attribute-value="hidden">
  <div class="Header flex-justify-between px-3 px-sm-4 px-lg-5">
    <div class="d-flex">
      <div class="Header-item">
        <a href="#" class="d-flex flex-items-center">
          <%= embed_svg "logo-full-white" %>
        </a>
      </div>
      <nav class="d-none d-md-flex flex-items-center ml-6">
        <%= link_to "Posts", app_project_path, class: "Header-link" %>
        <a href="#" class="Header-link ml-4">Subscribers</a>
        <%= link_to "Settings", app_root_path, class: "Header-link ml-4" %>
      </nav>
    </div>
    <div class="d-md-none">
      <button data-action="click->toggle#toggle" type="button" class="close-button Header-link">
        <%= octicon "three-bars", height: 24 %>
      </button>
    </div>
    <div class="d-none d-md-flex flex-items-center">
      <div class="d-flex">
        <button class="close-button Header-link">
          <%= octicon "plus" %>
        </button>
        <button class="close-button Header-link ml-3">
          <%= octicon "note" %>
        </button>
      </div>
      <div class="ml-4 d-flex flex-items-center flex-justify-center">
        <button class="close-button">
          <img class="avatar avatar-4 circle" alt="jonrohan" src="https://github.com/jonrohan.png?v=3&s=40" />
        </button>
      </div>
    </div>
  </div>
  <div data-toggle-target="content" class="bg-gray-dark py-1 d-md-none px-3 px-sm-4" hidden>
    <nav>
      <%= link_to "Posts", app_project_path, class: "Header-link d-block py-2" %>
      <a href="#" class="Header-link d-block py-2">Subscribers</a>
      <%= link_to "Settings", app_root_path, class: "Header-link d-block py-2" %>
    </nav>
    <hr class="border-white-fade-15">
    <div>
      <div>
        <a href="#" class="d-flex flex-items-center Header-link">
          <%= render Users::AvatarComponent.new(size: "sm") %>
          <span class="ml-2 d-block">Abeid Ahmed</span>
        </a>
      </div>
      <nav class="my-1">
        <a href="#" class="Header-link d-block py-2">Notifications</a>
        <a href="#" class="Header-link d-block py-2">Sign out</a>
      </nav>
    </div>
  </div>
</header>