<%= form_with model: [:app, @project, Label.new],
  id: "label-form",
  data: { controller: "label-color-picker" } do |form|
%>
  <div class="form-group mt-0 mb-4">
    <span data-label-color-picker-target="sideEffect" class="IssueLabel IssueLabel--big">
      Label preview
    </span>
  </div>
  <div class="d-md-flex flex-md-items-center">
    <div class="form-group mt-0 mb-md-0 col-md-4 pr-md-3">
      <div class="form-group-header">
        <%= form.label :name, "Label name" %>
      </div>
      <div class="form-group-body">
        <%= form.text_field :name, class: "form-control width-full", placeholder: "Label name", autocomplete: "off" %>
      </div>
    </div>
    <div class="form-group mt-0 mb-md-0 col-md-4 pr-md-3">
      <div class="form-group-header">
        <%= form.label :color %>
      </div>
      <div class="form-group-body">
        <div data-controller="toggle" data-toggle-attribute-value="hidden" data-action="click@window->toggle#onOutsideClick" class="position-relative">
          <%= form.text_field :color,
            class: "form-control width-full",
            data: {
              label_color_picker_target: "input",
              action: "input->label-color-picker#observe click->toggle#show focus->toggle#show"
            },
            placeholder: "Hex color code",
            autocomplete: "off"
          %>
          <%= render ColorPaletteComponent.new %>
        </div>
      </div>
    </div>
    <div class="d-flex mt-md-3 col-md-4 flex-md-justify-end">
      <div class="d-flex flex-items-start flex-md-order-1 mr-2 mr-md-0">
        <%= form.submit class: "btn btn-primary" %>
      </div>
      <div class="d-flex flex-items-start mr-md-2">
        <button type="button" class="btn">Cancel</button>
      </div>
    </div>
  </div>
<% end %>