<% if labels.present? %>
  <% labels.each do |label| %>
    <div class="Box-row d-flex flex-items-center">
      <div class="d-flex flex-items-center col-9 pr-3">
        <span style="background-color: <%= label.bg_color %>; color: <%= label.text_color %>" class="IssueLabel IssueLabel--big">
          <%= label.name %>
        </span>
      </div>
      <div class="col-3 d-flex flex-justify-end">
        <div class="d-none d-md-flex">
          <button class="btn-link text-gray f5">Edit</button>
          <button class="btn-link text-gray f5 ml-3">Delete</button>
        </div>
        <div class="d-md-none">
          <details class="dropdown details-reset details-overlay d-inline-block">
            <summary class="btn" aria-haspopup="true">
              <%= octicon "kebab-horizontal" %>
            </summary>
            <ul class="dropdown-menu dropdown-menu-sw">
              <li><a href="#" class="dropdown-item">Edit</a></li>
              <li class="dropdown-divider" role="separator"></li>
              <li><a href="#" class="dropdown-item">Delete</a></li>
            </ul>
          </details>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="blankslate blankslate-large blankslate-spacious">
    <%= octicon "octoface", height: 32, class: "blankslate-icon" %>
    <h3>No labels!</h3>
    <p class="mt-1 text-gray">
      There aren’t any labels for this project quite yet. Click on the "New Label" button above to create one.
    </p>
  </div>
<% end %>