<% if labels.present? %>
  <% labels.each do |label| %>
    <div data-controller="binding" class="Box-row">
      <div data-binding-target="shownElement" class="d-flex flex-items-center">
        <div class="d-flex flex-items-center col-9 pr-3">
          <%= render Labels::IssueComponent.new(
            title: label.name,
            style: "background-color: #{label.bg_color}; color: #{label.text_color}"
          ) %>
        </div>
        <div class="col-3 d-flex flex-justify-end">
          <div class="d-none d-md-flex">
            <button type="button" data-action="click->binding#show" class="btn-link text-gray f5">Edit</button>
            <%= render Labels::DeleteModalComponent.new(label: label) do |component| %>
              <% component.with(:trigger) do %>
                <div class="btn-link text-gray f5 ml-3">Delete</div>
              <% end %>
            <% end %>
          </div>
          <div class="d-md-none">
            <details class="dropdown details-reset details-overlay d-inline-block">
              <summary class="btn" aria-haspopup="true">
                <%= octicon "kebab-horizontal" %>
              </summary>
              <ul class="dropdown-menu dropdown-menu-sw">
                <li>
                  <button type="button" data-action="click->binding#show" class="btn-link dropdown-item">Edit</button>
                </li>
                <li class="dropdown-divider" role="separator"></li>
                <li>
                  <%= render Labels::DeleteModalComponent.new(label: label) do |component| %>
                    <% component.with(:trigger) do %>
                      <div class="dropdown-item">Delete</div>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </details>
          </div>
        </div>
      </div>
      <div data-binding-target="hiddenElement" hidden>
        <%= render "app/labels/form", model: [:app, label], dom_id: label, label: label %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render BlankslateComponent.new(
    title: "No labels!",
    description: "There aren’t any labels for this repository quite yet. Click on the \"New Label\" button above to create one."
  ) %>
<% end %>