<%= render Containers::SettingComponent.new(project: @project) do |component| %>
  <% component.with(:body) do %>
    <div class="mb-3">
      <%= render "box_header" %>
      <div class="Box p-3 bg-gray">
        <%= render "form" %>
      </div>
    </div>
    <div class="Box">
      <div class="Box-header">
        <h3 class="Box-title"><%= pluralize(@labels.size, "label") %></h3>
      </div>
      <%= render "label", labels: @labels %>
    </div>
  <% end %>
<% end %>