<main>
  <%= render "app/page_headers/settings" %>
  <div class="container-xl px-3 px-sm-4 px-lg-5">
    <div class="d-lg-flex gutter mt-5">
      <div class="col-lg-3 d-none d-lg-block">
        <nav class="menu border-0">
          <a href="#" class="menu-item border-0" aria-current="page">
            <%= octicon "gear" %>
            General
          </a>
          <a href="#" class="menu-item border-0">
            <%= octicon "milestone" %>
            Public feed
          </a>
          <a href="#" class="menu-item border-0">
            <%= octicon "people" %>
            Team members
          </a>
          <a href="#" class="menu-item border-0">
            <%= octicon "tag" %>
            Labels
          </a>
          <a href="#" class="menu-item border-0">
            <%= octicon "cpu" %>
            Widget
          </a>
          <a href="#" class="menu-item border-0">
            <%= octicon "history" %>
            Subscription
          </a>
          <a href="#" class="menu-item border-0">
            <%= octicon "credit-card" %>
            Billings
          </a>
        </nav>
      </div>
      <div class="col-lg-9">hello</div>
    </div>
  </div>
</main>