<%= form_with model: [:app, project, ProjectMembership::Invitation.new],
  url: app_project_project_memberships_path(project),
  html: { id: "member-invite-form", class: "Box d-md-flex flex-md-items-center bg-gray p-3", hidden: "" },
  data: { controller: "form", action: "turbo:submit-end->form#onError", toggle_target: "content" } do |form|
%>
  <div class="d-md-flex">
    <div class="form-group mt-0 mb-0 col-md-4 pr-md-3">
      <div class="form-group-header">
        <%= form.label :email_address %>
      </div>
      <div class="form-group-body">
        <%= form.email_field :email_address,
          placeholder: "Colleague's email address",
          class: "form-control width-full",
          required: true,
          autocomplete: "off",
          maxlength: 255
        %>
        <%= render Forms::ErrorDisplayComponent.new(error_type: "email_address") %>
      </div>
    </div>
    <div class="form-group my-md-0 col-md-4 pr-md-3">
      <div class="form-group-header">
        <%= form.label :role %>
      </div>
      <div class="form-group-body">
        <%= form.select :role, ProjectMembership.humanized_role_keys, {}, class: "form-select form-control width-full" %>
        <%= render Forms::ErrorDisplayComponent.new(error_type: "role") %>
      </div>
    </div>
    <div class="d-flex inline-form-btn-group col-md-4 flex-md-justify-end">
      <div class="d-flex flex-items-start flex-md-order-1 mr-2 mr-md-0">
        <%= form.submit "Send invitation", class: "btn btn-primary" %>
      </div>
      <div class="d-flex flex-items-start mr-md-2">
        <button type="button" data-action="click->toggle#hide" class="btn">Cancel</button>
      </div>
    </div>
  </div>
<% end %>