<%= render Containers::SettingComponent.new(project: @project) do |component| %>
  <% component.with(:body) do %>
    <div data-controller="toggle" data-toggle-attribute-value="hidden" class="mb-3">
      <%= render "member_filter" %>
      <%= render "invite_form", project: @project %>
    </div>
    <div class="Box">
      <div class="Box-header d-flex flex-justify-between flex-items-center">
        <h3 class="Box-title">
          People
        </h3>
        <div class="d-flex flex-justify-end position-relative">
          <%= render Dropdowns::DetailsComponent.new(button_title: "Filter", title: "Filter people") do |component| %>
            <% component.with(:body) do %>
              <button class="SelectMenu-item" role="menuitemcheckbox" aria-checked="true">
                <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
                All
              </button>
              <button class="SelectMenu-item" role="menuitemcheckbox">
                <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
                Owners
              </button>
              <button class="SelectMenu-item" role="menuitemcheckbox">
                <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
                Members
              </button>
              <button class="SelectMenu-item" role="menuitemcheckbox">
                <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
                Invitation pending
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <% @memberships.each do |member| %>
          <div class="Box-row d-flex flex-items-center">
            <div class="d-flex flex-items-center col-9 col-md-4">
              <div>
                <%= render Users::AvatarComponent.new %>
              </div>
              <div class="ml-2">
                <span class="d-block h5"><%= member.full_name %></span>
                <span class="d-block f6 text-gray"><%= member.role.capitalize %></span>
              </div>
            </div>
            <div class="text-gray-light d-none d-md-flex flex-items-center col-md-5">
              <%= octicon "mail" %>
              <a href="mailto:<%= member.email_address %>" class="f5 ml-2"><%= member.email_address %></a>
            </div>
            <div class="col-3 d-flex flex-justify-end">
              <div class="d-none d-md-flex">
                <button class="btn-link text-gray f5">Demote</button>
                <button class="btn-link text-gray f5 ml-3">Remove</button>
              </div>
              <div class="d-md-none">
                <details class="dropdown details-reset details-overlay d-inline-block">
                  <summary class="btn" aria-haspopup="true">
                    <%= octicon "kebab-horizontal" %>
                  </summary>
                  <ul class="dropdown-menu dropdown-menu-sw">
                    <li><a class="dropdown-item" href="#url">Demote</a></li>
                    <li><a class="dropdown-item" href="#url">Remove</a></li>
                  </ul>
                </details>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>