<%= render Containers::FocussedComponent.new(title: "You have an invitation to Applog space") do |component| %>
  <% component.with(:body) do %>
    <%= embed_svg "avatar-group", class: "mx-auto width-full" %>
    <p class="mt-3 f5 text-center">You can accept the invitation and be a part of Applog space, or decline it. Your call.</p>
    <div class="d-flex flex-column flex-sm-row mt-3 flex-sm-items-center">
      <%= form_with url: app_project_invitation_path(@membership), method: :patch do |form| %>
        <%= form.submit "Accept invitation", class: "btn btn-primary btn-block flex-sm-order-1" %>
      <% end %>
      <%= form_with url: app_project_invitation_path(@membership), method: :delete do |form| %>
        <%= form.submit "Decline invitation", class: "btn btn-danger mt-2 btn-block mr-sm-2 mt-sm-0" %>
      <% end %>
    </div>
  <% end %>
  <% component.with(:footer) do %>
    Nevermind, I'll do it <a href="#">later</a>
  <% end %>
<% end %>